
.gamebox {
  /* position: relative; */
  /* width: 100%;
  height: 100%; */
  background-color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-top: 5px, solid, #d6d7d8; */
  padding-top: 5%;
  padding-bottom: 5%;
  /* margin-top: 0.5%; */
  /* margin-bottom: 0.5%; */
}
