#r-card {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);   
    transition: all 0.3s ease-in-out;
    max-width: 345px;   
}

#r-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}



#r-card .r-card-image img {
    transition: all 0.3s ease-in-out;
}

#r-card .r-card-image:hover img {
    transform: scale(1.1);
}

